.upload-wrapper {
  position: relative;
  .tools-wrap{
    align-items: flex-end;
  }
  .btn-group{
    height: 30px;
  }
}

.upload-container {
  border: 2px dashed #007bff;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  width: 100%;
  background-color: #f8f9fa;

  p {
    margin: 10px 0;
    color: #6c757d;
    span{
      font-size: 14px;
    }
  }

  button {
    margin: 10px;
  }

  &.drag-over {
    border: 2px dashed #28a745;
  }
}




.file-list {
  background: #f5f5fa;
  display: flex;
  flex-wrap: wrap;

  .sortable-wrap {
    display: block;
    flex-wrap: wrap;
    width: 100%;
  }

  ::ng-deep {
    .sortable-container, .sortable-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .active{
        background: transparent !important;
      }
    }
  }
}
